.main-wrapper{

    height: 100vh;
    z-index: 1;

    &__contain{

        height: 100vh;
        
        &__navigation-bar{

            &__wrap{
                
                border-right: 1px solid $color-gray-0;
                overflow-x: scroll;
                padding: 20px;
                height: 100vh;

                &__posts {

                   
                    border:none;
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    margin-bottom: 200px !important;

                    &__items {

                        opacity: 0.4;
                        filter: grayscale(100%);
                        border-top: none !important;
                        border-left: none !important;
                        border-right: none !important;

                        &.not-read{
                            opacity: 1;
                            filter: grayscale(0);
                        }

                    }

                    &.empty{
                        min-height: 400px;
                    }

                    &__empty-message{

                        height: 200px;
                        width: 200px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin-top: -200px;
                        margin-left: -100px;

                        h2{ 
                            text-align: center;
                            text-transform: uppercase;
                            display: block;
                            font-size: 0.8rem;
                            font-weight: 500;
                            color:$color-gray-1;

                            span{
                                font-size: 0.7rem;
                                display: block;
                                color:$color-gray-0
                            }

                        }

                        &::before{
                            content: '';
                            width: 150px;
                            height: 150px;
                            display: block;
                            background-image: url('../../images/post-empty.svg');
                            @extend .standar-bckg;
                            background-size: auto 60% !important;
                            opacity: 0.15;
                            margin-left: auto;
                            margin-right: auto;
                        }

                    }

                }

                &::-webkit-scrollbar-track{
                    -webkit-box-shadow:none;
                    background-color: #fff;
                }

                &::-webkit-scrollbar{
                    width: 2px;
                    background-color: #fff;
                }

                &::-webkit-scrollbar-thumb{
                    background-color: $color-main;
                }

            }

            &__actions{

                border-top: 2px solid $color-gray-1;
                position: absolute;
                background-color: $color-white;
                bottom:105px;
                padding: 10px 5px;
                width: calc(100% - 2px) !important;

                .page-link{ color:$color-main !important; }
                
                &--dismiss-all{
                    color:$color-gray-1 !important;
                    border-color:$color-gray-1 !important;
                    &:hover{
                        background-color: $color-white !important;
                        color:$color-main !important;
                        border-color:$color-main !important;
                    }
                }
                
            }

        }





        &__detail{

            position: relative;
            
            &__wrap {

                padding: 20px;
                height: 100vh;
                overflow-x: scroll;

                &__content{

                    margin-top: 50px;
                    margin-bottom: 1000px;

                    &__image{

                        max-height: 200px;
                        overflow: hidden;
                        position: relative;

                        img{
                            width: auto;
                            margin-left: auto;
                            margin-right: auto;
                            display: block;
                            z-index: 100;
                            position: relative;
                        }

                        &__blur{
                            -webkit-filter: blur(10px);
                            filter: blur(10px);
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center;
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            z-index: 1;
                        }

                        &.no-image{
                            background-image: url('../../images/post-broken-image.svg');
                            @extend .standar-bckg;
                            background-size: auto 40% !important;
                            opacity: 0.3;
                            background-color: $color-gray-0;
                        }

                    }
                    

                    .card-subtitle{
                        font-size: 0.8rem;
                        margin-bottom: 40px !important;
                    }

                }

                &__empty{
                    
                    
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    margin-left: -100px;
                    margin-top: -170px;
                    width: 200px;

                    &__icon{
                        width: 200px;
                        height: 200px;
                        background-image: url('../../images/select-call-to.svg');
                        @extend .standar-bckg;
                        background-size: auto 90% !important;
                        opacity: 0.2;
                    }

                    h2{

                        font-size: 20px;
                        display: block;
                        text-transform: uppercase;
                        text-align: center;
                        width: 100%;
                        font-weight: 500;
                        margin-top: 20px;

                        span.emphasys{
                            color:$color-main;
                        }

                        span.subtitle{
                            display: block;
                            width: 100%;
                            font-size: 14px;
                            font-weight: 300;
                        }
                    }

                }

            }

        }

    }

}