.main-wrapper{

    height: 100vh;
    z-index: 1;

    &__contain{

        height: 100vh;
        
        &__navigation-bar{

            &__wrap{
                
                //border-right: 1px solid #ccc;
                overflow-x: scroll;
                padding: 20px;
                height: 100vh;

                &__posts {

                   
                    border:none;
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    margin-bottom: 200px !important;

                    &__items {

                        opacity: 0.4;
                        filter: grayscale(100%);
                        border-top: none !important;
                        border-left: none !important;
                        border-right: none !important;

                        &.not-read{
                            opacity: 1;
                            filter: grayscale(0);
                        }

                    }

                }

                &::-webkit-scrollbar-track{
                    -webkit-box-shadow:none;
                    background-color: #F5F5F5;
                }

                &::-webkit-scrollbar{
                    width: 2px;
                    background-color: #dddddd;
                }

                &::-webkit-scrollbar-thumb{
                    background-color: $color-main;
                }

            }

            &__actions{

                border-top: 2px solid $color-gray-1;
                position: absolute;
                background-color: $color-white;
                bottom:105px;
                padding: 10px 5px;
                width: calc(100% - 2px) !important;

                .page-link{ color:$color-main !important; }
                
                &--dismiss-all{
                    color:$color-gray-1 !important;
                    border-color:$color-gray-1 !important;
                    &:hover{
                        background-color: $color-white !important;
                        color:$color-main !important;
                        border-color:$color-main !important;
                    }
                }
                
            }

        }





        &__detail{

            position: relative;

            &__empty{
                
                position: absolute;
                left: 50%;
                top: 50%;
                margin-left: -100px;
                margin-top: -170px;
                width: 200px;

                &__icon{
                    width: 200px;
                    height: 200px;
                    background-image: url('../../images/select-call-to.svg');
                    background-size: auto 90%;
                    background-position: center center;
                    background-repeat: no-repeat;
                    opacity: 0.2;
                }

                h2{

                    font-size: 20px;
                    display: block;
                    text-transform: uppercase;
                    text-align: center;
                    width: 100%;
                    font-weight: 500;
                    margin-top: 20px;

                    span.emphasys{
                        color:$color-main;
                    }

                    span.subtitle{
                        display: block;
                        width: 100%;
                        font-size: 14px;
                        font-weight: 300;
                    }
                }

            }

        }

    }

}