.main-header{

    border-bottom: 2px solid #ddd;

    &__wrap{

        &__menu{
            display: none;

            &--menu{
                width: 50px;
                height: 50px;
                border: none !important;
                background-image: url('../../images/header-menu.svg');
                @extend .standar-bckg;
                background-size: auto 40% !important;

                &:hover{
                    background-size: auto 50% !important;
                    background-color: transparent !important;
                }
            }
            

        }

        &__logo{

            &__image {
                width: 160px;
                height: 40px;
                background-image: url('../../images/reddit-logo.svg');
                @extend .standar-bckg;
                margin-left: auto;
                margin-right: auto;
            }

        }
        
        &__theme-mode {
            margin-top: 8px;
            text-align: right;
            font-size: 0.9rem;
        }
    
    }
    
}