.post-item{

    max-height: 100px;
    cursor: pointer;

    &__thumbnail{
        width: 100%;
        min-height: 80px;
        max-height: 100px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &.no-image{
            background-image: url('../../images/post-broken-image.svg');
            background-size: auto 40%;
            background-position: center center 10px;
            opacity: 0.3;
            background-color: $color-gray-0;
        }
    }

    &__body{

        padding-top: 10px;

        &__title{
            font-size: 0.7rem;
            color:$color-main;
            text-transform: uppercase;
            font-weight: 300;
            line-height: 0.7rem;
        }

        &__description{
            margin-top: 10px;
            max-height: 30px;
            font-size: 0.7rem;
            line-height: 0.8rem;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            white-space: nowrap;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical; 
        }

        &__more{

            font-size: 0.6rem;
            margin-top: 15px;
            color: $color-gray-1;

            &__comments{

                &::before{
                    width: 12px;
                    height: 12px;
                    content:'';
                    display: inline-block;
                    margin: 0 3px -2px 0;
                    background-image: url('../../images/comments.svg');
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: auto 100%;
                }
                
                &:hover{
                    color:#000;
                }

            }

            &__created{

                text-align: right;
                white-space: nowrap;

                &::before{
                    width: 12px;
                    height: 12px;
                    content:'';
                    display: inline-block;
                    margin: 0 3px -2px 0;
                    background-image: url('../../images/post-date.svg');
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: auto 100%;
                }

                &:hover{
                    color:#000;
                }

            }

            &__dismiss{

                display: none;
                text-align: right;

                &--button{

                    padding:0;
                    background-color: transparent !important;
                    border: none !important;
                    white-space: nowrap;
                    font-size: 0.7rem !important;
                    color:#000 !important;

                    &::before{
                        width: 12px;
                        height: 12px;
                        content:'';
                        display: inline-block;
                        margin: 0 3px -2px 0;
                        background-image: url('../../images/post-dismiss.svg');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: auto 100%;
                    }

                    &:hover{
                        color:$color-main !important;
                    }

                    &:hover::before{
                        background-size: auto 90%;
                    }

                }

            }

        }

    }


    &:hover{
        background-color: #f2f5f6;
    }

    &:hover &__thumbnail{
        opacity: 0.5;
    }

    &:hover &__body {

        &__more{

            //opacity: 0.5;

            &__created{
                display: none;
            }
            &__dismiss{
                display: block;
            }
        }
    }

    


    &__go-to-button{
        background-image: url('../../images/post-right.svg');
        background-repeat: no-repeat;
        background-position: center right 5px;
        background-size: auto 50%;
        width: 20px;
        height: 20px;
        display: block;
        pointer-events: none;
        margin-top: 20px;
        margin-left: auto;
    }

    &:hover &__go-to-button{
        background-size: auto 70%;
    }

    &.empty &__thumbnail{

        background-color: $color-gray-0;
        background-image: url('../../images/loader-white.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: auto 50%;
        animation: squeleton 0.4s cubic-bezier(.5, 0, 1, 1) infinite alternate;

    }

    &.empty &__body{

        &__title{
            background-color: $color-gray-0;
            min-height: 11px;
            border-radius: 7px;
            -moz-border-radius: 7px;
            -webkit-border-radius: 7px;
            animation: squeleton 0.4s cubic-bezier(.5, 0, 1, 1) infinite alternate;
        }

        &__description{
            background-color: $color-gray-0;
            min-height: 15px;
            border-radius: 7px;
            -moz-border-radius: 7px;
            -webkit-border-radius: 7px;
            margin-top: 6px;
            animation: squeleton 0.4s cubic-bezier(.5, 0, 1, 1) infinite alternate;
        }

        &__more{

            &__comments{
                background-color: $color-gray-0;
                min-height: 15px;
                border-radius: 7px;
                -moz-border-radius: 7px;
                -webkit-border-radius: 7px;
                animation: squeleton 0.4s cubic-bezier(.5, 0, 1, 1) infinite alternate;
                overflow: hidden;
                text-indent: -1000px;
            }

        }

    }

    &.not-read &__body{

        &__title{
            &::before{
                content: '';
                background-color: $color-main;
                width: 8px;
                height: 8px;
                display: inline-block;
                margin-right: 5px;
                margin-bottom: -10px;
                border-radius:200px;
                -moz-border-radius:200px;
                -webkit-border-radius:200px;
            }
        }

    }

}