@import 'theme/variables';
@import 'theme/responsive';
@import 'theme/dark';
@import 'components/animations';
@import 'components/footer';
@import 'components/header';
@import 'components/content';
@import 'components/post';


body {
    font-family: 'Poppins', sans-serif !important;
    overflow-y:hidden;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.btn-primary.focus, .btn-primary:focus{
    box-shadow: none !important;
}