@media(min-width: 1430px) {

}

@media (max-width: 1430px) {

}

@media(max-width: 1430px) and (min-width: 1368px) {

}

@media(max-width: 1430px) and (min-width: 1200px) {

}

@media(max-width: 1367px) {

}

@media(max-width: 1199px) { 

}

@media(max-width: 991px) and (min-width: 767px) {

}

@media(max-width: 991px) {

}

@media(max-width: 767px) {
    
    .main-header{
        &__wrap{
            &__menu{
                display: block !important;
                &--menu{
                    background-image: url('../../images/header-menu-white.svg') !important;
                }
            }
        }
    }


    .main-wrapper{

        &__contain{

            &__navigation-bar{

                display: none !important;
                position: fixed;
                top: 0;
                pointer-events: none;
                
                &__actions{
                    bottom: 65px !important;
                }
            }

            &__detail{
                &__wrap {
                    &__content{
                        width: 70% !important;
                        margin-top: 30px !important;
                    }
                }
            }
            
        }

    }

    body.nav-opened{

        .main-wrapper{
            &__contain{
                &__navigation-bar{
                    display: block !important;
                    pointer-events: all;
                }
            }
        }

    }

}