//colors
$color-main: #ff4600;
$color-white: #FFFFFF;
$color-dark: #131313;
$color-squeleton: #f0f6f8;
$color-footer: #24272A;

$color-gray-0: #cbcbcb;
$color-gray-1: #8b8b8b;
$color-gray-3: #3d3d3d;
$color-gray-4: #212121;

//fonts
$font-poppins: Poppins;